# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Prisma generated client
/generated/

# Prisma config (auto generated)
prisma.config.ts

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
